spring:
  application:
    name: zzx-ai-code-backend
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${zzx-ai-code.spring.datasource.host}:${zzx-ai-code.spring.datasource.port}/zzx_ai_code?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowPublicKeyRetrieval=true&useSSL=false
    username: ${zzx-ai-code.spring.datasource.username}
    password: ${zzx-ai-code.spring.datasource.password}
server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.zzx.zzxaicode.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
